<header>
  <article>
    <div class="logo">
      <h1>{{link-to 'MY FAVORITE CREATURES' 'application' }}</h1>
    </div>
  </article>
</header>

<section id='main'>
  {{outlet}}
</section>

<footer></footer>
