<article id='creatures'>
  <h1>CREATURES</h1>
  <ul>
    {{#each creature in controller}}
      {{#link-to 'creature' creature tagName='li'}}
        {{creature.fullName}}
      {{/link-to}}
    {{/each}}
  </ul>
</article>

{{outlet}}
